@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --color-sidebar-ring: var(--ring);
  --color-sidebar-border: var(--border);
  --color-sidebar-accent-foreground: var(--accent-foreground);
  --color-sidebar-accent: var(--accent);
  --color-sidebar-primary-foreground: var(--primary-foreground);
  --color-sidebar-primary: var(--foreground);
  --color-sidebar-foreground: var(--foreground);
  --color-sidebar: var(--primary-foreground);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--border);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--foreground);
  --color-accent: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--muted-foreground);
  --color-secondary: var(--muted);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--foreground);
  --color-popover: var(--background);
  --color-card-foreground: var(--foreground);
  --color-card: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --background: oklch(0.9867 0.0058 267.36);
  --foreground: oklch(0.0363 0.0058 267.36);
  --primary: oklch(0.2829 0.0511 267.36);
  --primary-foreground: oklch(0.9778 0.0058 267.36);
  --muted: oklch(0.9454 0.0058 267.36);
  --muted-foreground: oklch(0.5423 0.0058 267.36);
  --destructive: oklch(0.5821 0.1701 42.56);
  --border: oklch(0.9128 0.0058 267.36);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --radius: 0;
}

.dark {
  --background: oklch(0.1983 0.0058 267.36);
  --foreground: oklch(0.9247 0.0161 267.36);
  --primary: oklch(0.9012 0.0129 267.36);
  --primary-foreground: oklch(0.2079 0.0058 267.36);
  --muted: oklch(0.2544 0.0058 267.36);
  --muted-foreground: oklch(0.6122 0.0058 267.36);
  --destructive: oklch(0.7294 0.1701 38.35);
  --border: oklch(0.2928 0.0058 267.36);
  --ring: oklch(0.5107 0.0058 267.36);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
}

@layer base {
  * {
    @apply border-border outline-ring/50 ring-ring;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-foreground;
  }

  button,
  a {
    @apply cursor-pointer;
  }

  .w-responsive {
    @apply container mx-auto *:px-6 *:md:px-12 *:lg:px-20;
  }

  .section-label {
    @apply text-sm text-muted-foreground mb-4 tracking-wide;
  }

  .section-title {
    @apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-medium tracking-tighter;
  }

  .section-description {
    @apply text-muted-foreground leading-relaxed;
  }
}
