@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-border: var(--border);
  --color-ring: var(--ring);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-playfair);
}

:root {
  --background: oklch(0.9867 0.0058 267.36);
  --foreground: oklch(0.0363 0.0058 267.36);
  --primary: oklch(0.2829 0.0511 267.36);
  --primary-foreground: oklch(0.9778 0.0058 267.36);
  --muted: oklch(0.9454 0.0058 267.36);
  --muted-foreground: oklch(0.5423 0.0058 267.36);
  --accent: oklch(0.9454 0.0058 267.36);
  --accent-foreground: oklch(0.0363 0.0058 267.36);
  --border: oklch(0.9128 0.0058 267.36);
  --ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.1983 0.0058 267.36);
  --foreground: oklch(0.9247 0.0161 267.36);
  --primary: oklch(0.9012 0.0129 267.36);
  --primary-foreground: oklch(0.2079 0.0058 267.36);
  --muted: oklch(0.2544 0.0058 267.36);
  --muted-foreground: oklch(0.6122 0.0058 267.36);
  --accent: oklch(0.2544 0.0058 267.36);
  --accent-foreground: oklch(0.9247 0.0161 267.36);
  --border: oklch(0.2928 0.0058 267.36);
  --ring: oklch(0.5107 0.0058 267.36);
}

@layer base {
  * {
    @apply border-border;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-background text-foreground font-sans antialiased;
  }
  
  ::selection {
    @apply bg-primary text-primary-foreground;
  }
}
